namespace-packages = ["src/turbopelican/_templates"]

[lint]
select = ["ALL"]
ignore = [
    # Rulesets
    "EM",
    "T20",

    # Specific rules
    "COM812",
    "TRY003",
    "S603"
]

[lint.extend-per-file-ignores]
"__main__.py" = ["BLE001"]
"**/tests/test_*.py" = [
    "D100",
    "S101",
    "SLF001",
]
"**/tests/__init__.py" = ["D104"]

[lint.pydocstyle]
convention = "google"

