name: Run CI
run-name: ${{ github.actor }}
on:
  - push
  - workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.8"
      - run: make build
      - run: make ci
